/* style.css */

body {
    body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #020617, #020b2d);
    color: #e5e7eb;
}

}

body {
  background-image: url("images/cyber-bg.png"); /* images folder & filename check করো */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ================= HEADER ================= */

header {
    background: linear-gradient(90deg, #020617, #0f172a);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: #38bdf8;
    letter-spacing: 1px;
}

nav a {
    color: #e5e7eb;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

/* ================= HERO ================= */

.hero {
    text-align: center;
    padding: 140px 20px;

    /* Falcon Eagle + Dark Blue Tint */
    background:
        linear-gradient(
            rgba(2, 6, 23, 0.80),
            rgba(2, 6, 23, 0.90)
        ),
        url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.hero h2 {
    font-size: 44px;
    color: #38bdf8;
}

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: 20px auto;
    color: #cbd5f5;
}

/* ================= BUTTON ================= */

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 28px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background: #0ea5e9;
}

/* ================= SECTIONS ================= */

section {
    padding: 80px 40px;
    max-width: 1100px;
    margin: auto;
}

h3 {
    color: #38bdf8;
    margin-bottom: 20px;
    font-size: 28px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: linear-gradient(145deg, #020617, #020d2e);
    border: 1px solid #1e293b;
    padding: 25px;
    border-radius: 10px;
}

.team-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #0ef;
}



/* ================= FOOTER ================= */

footer {
    background: #020617;
    text-align: center;
    padding: 30px;
    color: #94a3b8;
    border-top: 1px solid #1e293b;
}
